# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
lytica/
venv/
env/
.venv/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg
